<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Reloaded.Memory" version="8.0.1" targetFramework="net481" />
  <package id="Reloaded.Memory.Sigscan" version="3.1.6" targetFramework="net481" />
  <package id="Reloaded.Memory.Sigscan.Definitions" version="1.1.1" targetFramework="net481" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.3" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net481" />
</packages>